@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

body {
  background: #1D3557;
}

div {
  margin: .5em;
  padding: .25em;
}

input {
  margin: .25em;
}

button {
  margin: .25em;
}

#login-container {
  // background-color: #F1FAEE;
  padding: .5em;
}
#metricsContainer {
  // background-color: #F1FAEE;
  padding: .5em;
  width: 85%;
  height: 100%;
}


#appBarBox{
  // background-color: #F1FAEE;
  margin:auto;
  align-items:center;
  justify-content: center;
  padding: .5em;
  width: 85%;
  height: 100%;
  border-radius: 10,
}

#config-container {
  // background-color: #89B0AE;
  padding: .5em;
}

#pods-container {
  // background-color: #457B9D;
  border-color: #457B9D;
  background-color:  #457B9D;
  border-width: .25em;
  border-style: solid;
  padding: 5.5em 3.5em 3.5em;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.pod-component {
  background-color: rgb(49, 113, 49);
  border-radius: 2.5%;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  
  font-size: .75vh;
  vertical-align: middle;
  height: 5em;
  width: 7.5em;
  margin: .5em;
  padding: .1em;
  // clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

// #query-container {
//   // background-color: #A8DADC;
//   padding: .5em;
// }

#log-container {
  // background-color: #A8DADC;
  padding: .05em;
}
#log-container {
  // background-color: #A8DADC;
  padding: .05em;
}

#loginpage {
  display: flex;
  width: auto;
  background-color: red;
  align-items: center;
}

.logDate { 
  grid-area: date; 
}
.logType { 
  grid-area: type; 
}
.podName { 
  grid-area: pod; 
}
.logMessage { 
  grid-area: message; 
}

.logRowComponent {
  background-color: #FAF9F9;
  color: black;
  margin: .5em;
  padding: .25em;
  display: grid;
  grid-template: 'date type type pod pod message message message'
}

.primary-btn {
  background-color: #1D3557;
  color: #F1FAEE
}
.secondary-btn {
  background-color: #FAF9F9;
  
}

.counter {
  background-color: #576e8f;
}

.gauge {
  background-color:cadetblue;
}

.histogram {
  background-color: rgb(180, 98, 114);
}
// #zingchart-react-0{
//   height: 500px;
// }
.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  min-height: 200px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}